[Desktop Entry]
Encoding=UTF-8
Name=basemon
Comment=basemon P2P Cryptocurrency
Comment[fr]=basemon, monnaie virtuelle cryptographique pair à pair
Comment[tr]=basemon, eşten eşe kriptografik sanal para birimi
Exec=basemon-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/basemon;
Categories=Office;Finance;
